@import url("tailwindcss");
@import url("@nuxt/ui");

.font-shuhei {
  font-family: shuhei, sans-serif;
}

.font-misans {
  font-family: misans, sans-serif;
}

.hide-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}